<script type="text/javascript">
  <% if logged_in? %>
    window.currentUser = <%= render(
      "api/users/user.json.jbuilder",
      user: current_user
    ).html_safe %>
  <% end %>
</script>

<main id="root">Broken :(</main>

<script type="text/javascript">
  window.staticImages = {
    headerImage: "<%= asset_url "bigpanda.svg" %>",
    personImage: "<%= asset_url "person.svg" %>",
    lockImage: "<%= asset_url "lock.svg" %>",
    plusImage: "<%= asset_url "plus.svg" %>",
    minusImage: "<%= asset_url "minus.svg" %>",
    github: "<%= asset_url "github.png" %>",
    people: "<%= asset_url "user.svg" %>",
    bed: "<%= asset_url "bed.svg" %>",
    door: "<%= asset_url "door.svg" %>",
    bath: "<%= asset_url "bath.svg" %>",
    kitchen: "<%= asset_url "cutlery.svg" %>",
    shampoo: "<%= asset_url "gel.svg" %>",
    balcony: "<%= asset_url "balcony.svg" %>",
    washer: "<%= asset_url "washingmachine.svg" %>",
    wifi: "<%= asset_url "wifi.svg" %>",
    dryer: "<%= asset_url "hairdryer.svg" %>",
    map: "<%= asset_url "map.svg" %>",
    link: "<%= asset_url "link.png" %>",
    sf: "<%= asset_url "sf.jpg" %>"
  }
</script>
