<!DOCTYPE html>
<html>
  <head>
    <title>Luftbnb</title>
    <%= csrf_meta_tags %>
    <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=#{ENV["GOOGLE_API_KEY"]}&libraries=places" %>
    <%= stylesheet_link_tag    'application' %>
    <%= javascript_include_tag 'application' %>
    <link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  </head>

  <body>
    <%= yield %>
  </body>
</html>
